---
import Career from '../components/Career.astro';
import AboutMe from '../components/AboutMe.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Resume from '../components/Resume.astro';
import WorkSample from '../components/WorkSample.astro';
---

<Layout title="Portfolio | Nolwen Bachtle">
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<AboutMe/>
		<Career/>
		<Resume/>
		<WorkSample/>
	</main>
</Layout>
