---
import Container from "./Container.astro"

---

<div id="about-me">
  <Container>
    <div class="flex grid-cols-1">
      <div class="md:w-2/3 lg:w-2/3">
        <div class="flex align-center my-8">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mt-2 text-secondary">
            <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" />
          </svg>
        
          <h2 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">
            About Me
          </h2>
        </div>
   
        <p class="text-gray-600 dark:text-gray-300 pr-10">
          Hello my name is Nolwen Bachtle. Currently, I am a freshman majoring in Computer Science at Florida Polytechnic University.<br/>
  
          I enjoy learning about different technologies and programming languages. I have done projects and completed courses for
          programming languages in: C, Java, JavaScript, and Python.<br/>
  
          My passion for computer science began during my high school years when I was introduced to the world of programming. 
          I was fascinated by how a few lines of code could bring an idea to life and create something that can be used by people all over the world.<br/>
  
          In addition to my academic pursuits, I have been involved in various extracurricular activities that have allowed me to develop my 
          leadership and communication skills. In high school, I partook in a club called the Technology Student Association (TSA), 
          where I have collaborated with others in teams to solve complex problems and create innovative solutions.<br/>
  
  
          I am excited to continue learning about new technologies and programming languages and to use this knowledge to create
          innovative solutions to real-world problems. I look forward to collaborating with like-minded individuals and contributing 
          to the ever-evolving field of computer science.
        </p>
      </div>
      <div class="md:w-1/3 lg:w-1/3 text-gray-700 mt-24 flex self-center justify-center ">
          <img class="w-52 h-52 bg-slate-100 br rounded-full drop-shadow-2xl border-2 border-white" src="./profile.png" alt="Profile Photo">
        <!-- <div class="ml-2 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700">
          <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
            <div class="relative space-y-8 py-12 p-8">
              <img
                src="https://cdn-icons-png.flaticon.com/512/4341/4341134.png"
                class="w-12"
                width="512"
                height="512"
                alt="burger illustration"
              />
    
              <div class="space-y-2">
                <h5
                  class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
                >
                  Second feature
                </h5>
                <p class="text-gray-600 dark:text-gray-300">
                  Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
                </p>
              </div>
              <a href="#" class="flex items-center justify-between group-hover:text-secondary">
                <span class="text-sm">Read more</span>            
              </a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </Container>
</div>