---
import Container from "./Container.astro";

---

<div id="career">
    <Container>

      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="./images/pie.svg"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        
        <div class="md:7/12 lg:w-1/2">
          <div class="flex align-center my-8">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mt-2 text-sky-500">
              <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd" />
              <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd" />
            </svg>
          
            <h2 class="text-2xl font-bold text-gray-700 dark:text-white md:text-4xl pl-2">
              Career Summary
            </h2>
          </div>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            As a sophomore studying computer science and software development, I have a keen interest in technology and creating innovative software applications. I am currently studying the C programming language at school and learning web development and web design on the side, while also trying to use GitHub more to expand my skillset and connect with other developers.
            <br>
            In addition to C, I have also learned Java, JavaScript, and Python in the past. My experience with these programming languages has given me a broad foundation of programming concepts, and I am able to understand and learn new programming languages quickly.
            <br>
            My personal and professional goal is to become a skilled software developer who can work on complex and challenging projects that push the boundaries of what is possible with technology. In terms of the type of job I am seeking, I am interested in entry-level software development roles that can help me build on my current skills and gain practical experience in the industry.
            <br>
            Some of my main skills and qualifications include strong analytical and problem-solving abilities, proficiency in programming languages such as C, Java, JavaScript, and Python, and a good understanding of software development principles and best practices. I am also a quick learner and enjoy working collaboratively with others to achieve common goals.
          </p>

        </div>
      </div>
    </Container>
</div>
