---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Nolwen Bachtle</h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">I am a software developer with experience in C, Java, JavaScript, and Python. I stay up with the latest and emerging technologies, and I enjoy experimenting with them.</p>
                <div class="text-gray-700 mt-24 flex self-center justify-center md:gap-6 md:space-y-0 md:h-0">
                  <img class="w-52 h-52 bg-slate-100 br rounded-full drop-shadow-2xl border-4 border-white visible md:invisible lg:invisible " src="./profile.png" alt="Profile Photo">
                </div>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="mailto:nbachtle@gmail.com"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Contact Me</span
                      >
                    </a>
                </div>

            </div>
            
        </div>
    </Container>
</div>