---
import Container from "./Container.astro"

---

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class=" text-gray-600 dark:text-gray-300 pt-6" id="resume">
  <Container>
    <div class="mb-10 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Resume
      </h2>
    </div>
    <div class="flex justify-center align-center">
      <div class=" w-1/2 gap-8 space-y-8">
        <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
          <a href="./bachtle_nolwen_resume.pdf">
            <button class="rounded-full bg-purple-600 font-bold text-white text-center justify-center relative items-center w-full flex leading-5 h-11 px-6">
              <span class="material-symbols-outlined pr-1">
                picture_as_pdf
              </span>
              Open PDF
            </button>
          </a>
        </div>
      </div>
</div>
  </Container>
</div>